body {
    margin: 0px;
    --bg: #0E184E;
    --menu: rgb(23, 34, 97);   /* #172261 */
    --card: rgb(22, 33, 96);   /* #162160 */
    --card2: rgb(17, 28, 79);  /* #111C4F */
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-size: 100%;
    --color: #FFFFFF;
    background: var(--bg);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #E0E0E0;
    background-size: 100% 100%;
}
